version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    container_name: shopdesk_api
    env_file: .env
    depends_on:
      - postgres
      - redis
      - minio
    ports: 
      - "8000:8000"
  
  worker:
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    container_name: shopdesk_worker
    env_file: .env
    depends_on:
      - postgres
      - redis
    command: celery -A worker.celery_app worker --loglevel=INFO

  postgres:
    image: postgres:16-alpine
    container_name: shopdesk_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: shopdesk_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    container_name: shopdesk_minio
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data

  prometheus:
    image: prom/prometheus:latest
    container_name: shopdesk_prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss:latest
    container_name: shopdesk_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana:/var/lib/grafana
      - ./infra/grafana/provisioning:/etc/grafana/provisioning

volumes:
  pgdata:
  minio:
  grafana:
